
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamiloganphoto.com</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="{%static './bootstrap-5.2.0-dist/css/bootstrap.min.css'%}"
  />
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body style="background-color: black;" >
    <section style="background-color: black;">
      <nav class="position-sticky navbar navbar-expand-lg px-5 py-4" id="nav">
        <a class="navbar-brand fs-1 fw-bold text-light" href="{%url 'home'%}"
          >Lamilogan</a
        >
        <button
          id="navbar-toggler-btn"
          class="btn border navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
        >
          <span class="bi-list fs-1 text-light"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav ms-auto me-auto fs-5 d-flex align-items-lg-center"
          >
            <li class="nav-item mx-2">
              <a class=" nav-link text-light" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class=" nav-link text-light" href="{%url 'potrait'%}"
                > Potrait</a
              >
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-light" href="{%url 'event'%}"
                >Event</a
              >
            </li>
            <li class="nav-item mx-2">
              <a class="active nav-link text-light" href="{%url 'projet'%}"
                >Projects</a
              >
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-light" href="{%url 'bookings'%}"
                >Booking</a
              >
            </li>
  
            <li class="nav-item mx-2">
              <a class="nav-link text-light" href="{%url 'drone_shot'%}"
                >Drone-shot</a
              >
            </li>
            <!-- <li class="nav-item mx-2">
              <a class="nav-link text-light" href="{%url 'contact'%}"
                >Contact</a
              >
            </li> -->
          </ul>
        </div>
      </nav>
       
        
          
          <div class="over-j">

{%for project in project|slice:'0:5'%}
            <div class="j-text reveal active">
              <a href="{%url 'gallery' project.id %}">
              <img src="{{project.image17.url}}" alt="">
              </a>
                <h1> <a href="{%url 'gallery' project.id %}" >{{project.title}}</a></h1>
                
              
            
            </div>
            
            {%endfor%}
            
            
           
            
            
           
            </div>
         
            
                    </div>  
                    <div class="end2">
                      <h3><a href="mailto:abduleedul3@gmail.com" style="color: aliceblue;">@Lamilogan</a></h3>
                      
                      <h3><a href="mailto:abduleedul3@gmail.com" style="color: aliceblue;">Email |  </a><a href="https://instagram.com/lamilogan?igshid=YmMyMTA2M2Y=" style="color: aliceblue;"> Instagram</a></h3>
                     </div>
    </section>



    <script type="text/javascript">
      window.addEventListener('scroll', reveal);
      
      function reveal(){
        var reveals = document.querySelectorAll('.reveal')
      
        for(var i =0; i < reveals.length; i++){
          var windowheight = window.innerHeight;
          var revealtop = reveals[i].getBoundingClientRect().top;
          var revealpoint = 150;
      
          if (revealtop < windowheight -revealpoint) {
            reveals[i].classList.add('active');
          }
          else{
            reveals[i].classList.remove('active');
          }
        }
      }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto", {
        strings: [
          " I am Lamilogan",
          " I make magic",
          " I am a film maker",
        ],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{%static 'index.js'%}"></script>
    <script src="{%static './bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>