{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lamiloganphoto.com</title>
    <link rel="stylesheet" href="{%static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="wrapper">
          <h1 style="color: aliceblue;">Lamilogan</h1>

          <div class="minidiv">
            <ul>
              <li><a  target="blank" href="{%url 'home' %}" style="color: aliceblue;">Home</a></li>
                      <li><a target="blank" href="{% url 'projet'%}" style="color: aliceblue;">Portraits </a></li>
                      <li><a  target="blank" href="{%url 'event' %}" style="color: aliceblue;">Event Coverage</a></li>
                      <li><a  target="blank" href="{%url 'drone_shot' %}" style="color: aliceblue;">Drone films</a></li>
                      <li><a target="blank" href="{%url 'bookings'%}" style="color: aliceblue;">Booking</a></li>
                      <li><a target="blank" href="{%url 'contact' %}" style="color: aliceblue;">Contact</a></li>>
            </ul>
          </div>
          <div class="hamburger">
            <div class="line1" style="background-color: aliceblue;"></div>
            <div class="line2" style="background-color: aliceblue;"></div>
            <div class="line3" style="background-color: aliceblue;"></div>
          </div>
        </div>
        <div class="close">
          <div class="hamburger">
            <div class="line1" style="background-color: aliceblue;"></div>
            <div class="line2" style="background-color: aliceblue;"></div>
            <div class="line3" style="background-color: aliceblue;"></div>
        </div>
        </div>
      </nav>
      <div class="y-text">
        <h1 style="color: aliceblue;font-size: 20px; "> BIO</h1>
        </div>
      <div class="h-text" style="overflow: hidden;">
        <img src="{%static 'images/main.jpg'%}" alt=""  />
      </div>
      <div class="i-text" style="overflow: hidden;">
        <h4>Lamilogan</h4>
        <p>
          Logan is a London based photographer and filmmaker, specialising in
          lifestyle and travel storytelling and is available to hire for
          commercial projects worldwide.
        </p>
        <p>
          He spends the majority of his time producing photographic and video
          content for leading brands across the globe, creating visual stories
          for the likes of Adobe, American Express, Bowmore, Fjallraven & The
          North Face to name just a few.
        </p>
        <p>
          If you’d like to discuss a new project, image licencing or for any
          other enquiry, please get in touch via email:
        </p>
        <p><a href="mailto:abduleedul3@gmail.com">Lamilogan@gmail.com</a></p>
        <h4>Gear list:</h4>
        <ul>
            <li>Tamron 24 f/2.8</li>
            <li>Tamron 17-28 f/2.8</li>
            <li>Tamron 28-75 f/2.8</li>
            <li>Tamron 70-180 f/2.8</li>
            <li>Tamron 150-500 f/5</li>
            <li>Sony 14mm f/1.8</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
         
        </ul>
      </div>

      <div class="end3" style="overflow: hidden;">
        <h3><a href="mailto:abduleedul3@gmail.com" style="color: aliceblue;">@Lamilogan</a></h3>
        <h3><a href="mailto:abduleedul3@gmail.com" style="color: aliceblue;">Email |  </a><a href="https://instagram.com/lamilogan?igshid=YmMyMTA2M2Y=" style="color: aliceblue;"> Instagram</a></h3>
     </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto", {
        strings: [
          " I am Lamilogan",
          " I am a cinimatographer",
          " I make magic",
          " I am a film maker",
        ],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
    <script src="{%static 'index.js'%}"></script>
  </body>
</html>
