{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lamiloganphoto.com</title>
    <link rel="stylesheet" href="{%static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="wrapper">
          <h1>Lamilogan</h1>

          <div class="minidiv">
            <ul>
              <li><a  target="blank" href="{%url 'home' %}">Home</a></li>
                        <li><a target="blank" href="{% url 'potrait'%}">Portraits </a></li>
                        <li><a  target="blank" href="{%url 'event' %}">Event Coverage</a></li>
                        <li><a  target="blank" href="{%url 'drone_shot' %}">Drone films</a></li>
                        <li><a target="blank" href="{%url 'projet'%}">Projects</a></li>
                        <li><a target="blank" href="{%url 'booking'%}">Booking</a></li>
                        <li><a target="blank" href="{%url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
        <img src="{%static 'svg/close.svg'%}" alt="" class="close" />
      </nav>
      <div class="b-text">
        <p>Shots by Lami</p>
      </div>
      <div class="c-text">
        <p><span class="auto"></span></p>
      </div>
      <div class="h-text">
        <img src="{%static 'images/000_9WF2NH.jpg'%}" alt="" />
      </div>
      <div class="i-text">
        <h4>Lamilogan</h4>
        <p>
          Luke is a London based photographer and filmmaker, specialising in
          lifestyle and travel storytelling and is available to hire for
          commercial projects worldwide.
        </p>
        <p>
          He spends the majority of his time producing photographic and video
          content for leading brands across the globe, creating visual stories
          for the likes of Adobe, American Express, Bowmore, Fjallraven & The
          North Face to name just a few.
        </p>
        <p>
          If you’d like to discuss a new project, image licencing or for any
          other enquiry, please get in touch via email:
        </p>
        <p><a href="">Lamilogan@gmail.com</a></p>
        <h4>Gear list:</h4>
        <ul>
            <li>Tamron 24 f/2.8</li>
            <li>Tamron 17-28 f/2.8</li>
            <li>Tamron 28-75 f/2.8</li>
            <li>Tamron 70-180 f/2.8</li>
            <li>Tamron 150-500 f/5</li>
            <li>Sony 14mm f/1.8</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
            <li>Sony 35mm f/1.4</li>
         
        </ul>
      </div>
      <div class="i2-text">

      </div>
      <div class="end3">
        <h3><a href="mailto:abduleedul3@gmail.com">@Lamilogan</a></h3>
        <h3><a href="mailto:abduleedul3@gmail.com">Email |  </a><a href="https://instagram.com/lamilogan?igshid=YmMyMTA2M2Y="> Instagram</a></h3>
     </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto", {
        strings: [
          " I am Lamilogan",
          " I am a cinimatographer",
          " I make magic",
          " I am a film maker",
        ],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
    <script src="{%static 'index.js'%}"></script>
  </body>
</html>
