<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Requests</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Request confirmation</h1>
          <p class="lead">Thank you for reaching out</p>
          <hr class="my-4">
          <p>Please find details below:</p>
          <ul class="list-group">
            <li class="list-group-item"><strong>Name:</strong> {{name}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{email}}</li>
            <li class="list-group-item"><strong>Package:</strong> {{package}}</li>
            <li class="list-group-item"><strong>Message:</strong>{{message}}</li>
            <li class="list-group-item"><strong>Number:</strong> {{number}}</li>
          </ul>
        </div>
      </div>
 
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>