{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamiloganphoto.com</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <section>
       
<div class="first" style="text-align: center;">
    <div class="z-text">
        <h1>I am Lamilogan</h1>
        <p><span class="auto"></span></p>
        <div class="z1-text">
            <button><a href="{%url 'projet'%}" style="color: black;">Potrait work</a></button>
            <button><a href="{%url 'general'%}" style="color: black;">All images</a></button>
        </div>


        <div>
            <ion-icon name="moon-outline" class="switch"></ion-icon>
        </div>







        <footer id="mini">

        <h3 style="color: aliceblue;" > @Lamilogan</h3>
        <h3><a href="" style="color: aliceblue;">Email |  </a><a href="" style="color: aliceblue;"> Instagram</a></h3>
    </footer> 
    </div>
    


    
</div>

 



    </section>

  
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->

<script>
    $(".switch").click(function(){
        $("body").toggleClass("dark-mode");
    });
</script>


















    




 



    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed= new Typed(".auto",{
            strings:[" I am Lamilogan", " I am a cinematographer", " I make magic" , " I am a film maker",],
            typeSpeed:100,
            backSpeed:100,
            loop:true
            
        })
    </script>
<script>
    $(".switch").click(function(){
        $("body").toggleClass("dark-mode");
    });
</script>



    <script src= "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="index.js"></script>
</body>
</html>






































