<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lamiloganphoto.com</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="wrapper">
          <h1>Lamilogan</h1>

          <div class="minidiv">
            <ul>
              <li><a target="blank" href="index.html">Home</a></li>
              <li><a  target="blank" href="portfolio.html">Portraits </a></li>
              <li><a target="blank" href="">Event Coverage</a></li>
              <li><a  target="blank" href="">Drone films</a></li>
              <li><a  target="blank" href="project.html">Projects</a></li>
              <li><a  target="blank" href="">Booking</a></li>
              <li><a  target="blank" href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
        <img src="svg/close.svg" alt="" class="close" />
      </nav>
      <div class="b-text">
        <p>Shots by Lami</p>
      </div>
      <div class="c-text">
        <p><span class="auto"></span></p>
      </div>

      <div class="location">
        <h1>Locations</h1>
        <img src="images/image1 (12).jpg" alt="" />
        
      </div>
      <img src="images/image1 (13).jpg" alt="" class="avatar" />
      <div class="f-text">
        <p>
            <span class="auto2"></span>
          </p>
      </div>



      <!-- begin carousel -->
      <!-- carousel -->
  <div class="carousel">

    <div class="bb-text owl-carousel ">
      <div class="cards">
           <img src="images/image1 (2).jpg" alt="" class="">
          
           
          </div>
      <div class="cards">     
      <img src="images/image1 (5).jpg" alt="">
          </div>
      <div class="cards"> 
        <img src="images/image1 (9).jpg" alt="">
          </div>
      </div>
    </div>
   
  </div>

    <!-- <!  --> 
      
      <div class="g-text">
          <h3>Island</h3>
          <p>Reykjavík, Kópavogur & Reykjanesbær</p>
      </div>
      <!-- carousel -->
  <div class="carousel2">

    <div class="bb-text owl-carousel ">
      <div class="cards1">
           <img src="images/image1 (1).jpg" alt="" class="">
          
           
          </div>
      <div class="cards1">     
      <img src="images/image1 (6).jpg" alt="">
          </div>
      <div class="cards1"> 
        <img src="images/image1 (8).jpg" alt="">
          </div>
      </div>
    </div>
   
  </div>

    <!-- <!  --> 
      
      <div class="g1-text">
          <h3>Frankreich</h3>
          <p>Paris, Marseille, Korsika & 
            Nizza</p>
      </div>
  
  <div class="carousel3">

    <div class="bb-text owl-carousel ">
      <div class="cards2">
           <img src="images/image1 (6).jpg" alt="" class="">
          
           
          </div>
      <div class="cards2">     
      <img src="images/image1 (4).jpg" alt="">
          </div>
      <div class="cards2"> 
        <img src="images/image1 (9).jpg" alt="">
          </div>
      </div>
    </div>
   
  </div>

    <!-- <!  --> 
      
      <div class="g2-text">
          <h3>Deutschland</h3>
          <p>Hamburg, Berlin & München</p>
      </div>
  
      <!-- end of carousel -->

     <div class="end">
        <h3>@Lamilogan</h3>
        <h3><a href="">Email |  </a><a href=""> Instagram</a></h3>
     </div>
    </section>

    <!-- js duplex -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto", {
        strings: [
          " I am Lamilogan",
          " I am a cinimatographer",
          " I make magic",
          " I am a film maker",
        ],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
      var typed = new Typed(".auto2", {
        strings: [
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi consequuntur ullam minus quidem rerum. Molestiae recusandae consectetur mollitia deleniti laudantium earum dolor, aperiam maxime tenetur commodi dolorem quas modi reiciendis."
        ],
        typeSpeed: 40,
        backSpeed: 100,
       
      });
    </script>
     <script src= "https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
