* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "popins", sans-serif;
}
a{
    color: black;
    
}

.wrapper{
    display: flex;
    justify-content: space-between;
  
  
}
.wrapper h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right:10px;
  font-size: 35px;
  /* animation: type 4s linear infinite ; */
  /* overflow: hidden; */
  /* white-space: nowrap;
  width: 9ch; */
  font-weight: 760; 
 } 
.minidiv{
    width: 60%;
}
.minidiv ul{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-top: 55px;
    font-size: 17px;
    
}
.minidiv ul li a{
  font-family: 'Bona Nova', serif;
}
.location h1{
  font-family: 'Bona Nova', serif;
}
.f-text p{
  font-family: 'Bona Nova', serif;
}




/* @keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  } */

.hamburger div{
    margin: 3px;
    height: 4px;
    width: 25px;
    background-color: black;
    position: relative;
    top: 47px;
    right: 15px;
}
.close {
    width: 28px;
    position: relative;
    left: 320px;
    bottom: 84px;
    }

    footer{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    footer h3{
        font-weight: 600;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 30px;
            }
    .end{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    .end h3{
        font-weight: 600;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 30px;
            }
    .end2{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    .end2 h3{
        font-weight: 600;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 30px;
            }


.owl-dot:hover,
.owl-dot.active {
  background-color: rgb(168, 168, 161) !important;
}

.gallery{
  padding: 10px;
  max-width: 1500px;
  margin: 0, auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  margin-top: 30px;
}


.v-stretch{
  grid-row: span 2;
}
.h-stretch{
  grid-column: span 2;
  /* grid-row: span 3; */
}
.big-stretch{
  grid-column: span 2;
  grid-row:span 2 ;
}
.gallery div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .h-stretch img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .v-stretch img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b-text p{
  font-family: 'Bona Nova', serif;
}
.d-text{
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-transition: -webkit-transform 0.6s ease-in-out;
transition: transform 0.6s ease-in-out;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.l-text h1{
  font-family: 'Bona Nova', serif;
}
.j-text p{
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
}
/* main project */



    
@media(max-width:770px){
    .minidiv{
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 100%;
        top: 100px;
  height: 100%;
        transform: translateX(-768px);
        transition: 0.4s ease;

    }
    .wrapper h1{
        padding-left: 20px;
        font-weight: 600;
    }
    .minidiv ul{
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        line-height: 37px;
       font-weight: 400px;
       transition: 0.4s ease;
      
    }
    .close{
        display: none;
    }
   
    .cards video{
        margin-top: 40px;
        width: 300px;
        border-radius: 10px;
     
        height: 350px;
      }
      .owl-dot {
        width: 25px;
        height: 10px;
        background-color: rgb(117, 108, 108) !important;
        margin-right: 10px;
        border-radius: 50%;
        transition: 0.5s ease;
        
      }
      .owl-dots {
        text-align: center;
        padding-bottom: 50px;
        
      }
      .cards {
        background-color:#e2e5da;
      
      
     
      
        /* margin-top: 50px; */
        text-align: center;
       
        /* margin-bottom: 30px; */
        padding-bottom: 50px;
      }
      .cards1 {
        background-color:#e2e5da;
      
      
     
      
        /* margin-top: 50px; */
        text-align: center;
       
        /* margin-bottom: 30px; */
        padding-bottom: 50px;
      }
      .cards2 {
        background-color:#e2e5da;
      
      
     
      
        /* margin-top: 50px; */
        text-align: center;
       
        /* margin-bottom: 30px; */
        padding-bottom: 50px;
      }

      .carousel h4 {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      .carousel .cards img{
        width: 70% !important;
    padding-left: 50px;
    padding-top: 50px;
      }
      .carousel2 .cards1 img{
        width: 70% !important;
    padding-left: 50px;
    padding-top: 50px;
      }
      .carousel3 .cards2 img{
        width: 70% !important;
    padding-left: 50px;
    padding-top: 50px;
      }

.v-stretch{
  grid-row: span 2;
  width: 100%;
  grid-column: span 2; 

}
.gallery .v-stretch img{
  object-fit: cover;
  object-position: center;
}
.h-stretch{
  grid-column: span 2;
  grid-row: span 2;
}
 .big-stretch{
   grid-column:  span 1;
   grid-row: span 1;
 }
 .special img{
   display: none;
 }
 .gallery{
  padding: 10px;
  max-width: 1200px;
  margin: 0, auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
  grid-auto-rows: 220px;
  grid-auto-flow: dense;
  margin-top:30px;
}
.wrapper p{
  position: relative;
  top: 90px;
  right: 200px;
  font-weight: 400px;
}
.b-text p{
  position: absolute;
  top: 92px;
 left: 20px;
color: rgb(0, 0, 0);
  font-size: 19px;
  /* right: 1090px; */
  font-weight: 300;
  
}
.c-text p{
  position: absolute;
  top: 126px;
  left: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
.d-text h1{
  text-align: center;
  padding-top: 20px;
}
.e-text h1{
  text-align: center;
  padding-top: 20px;
}
/* project */

.location h1{
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
}
.location img{
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
}
.avatar{
  width: 50%;
  height: 150px;
  position: relative;
  top: -70px;
  left: 180px;
}
.f-text p{
  position: relative;
  top: -40px;
  font-size: 20px;
  padding: 20px;
}
.carousel{
  position: relative;
  top: 200px;
}
.carousel2{
  position: relative;
  top: 160px;
}
.carousel3{
  position: relative;
  top: 120px;
}
.g-text{
  background-color: #828c6d;
  width: 100%;
  position: relative;
  top: -560px;
  text-align: center;
  height: 250px;
}
.g-text h3{
  position: relative;
  top: 70px;
  font-size: 25px;
}
.g-text p{
  position: relative;
  top: 90px;
  font-size: 20px;
}
.g1-text{
  background-color: #948065;
  width: 100%;
  position: relative;
  top: -610px;
  text-align: center;
  height: 250px;
}
.g1-text h3{
  position: relative;
  top: 70px;
  font-size: 25px;
}
.g1-text p{
  position: relative;
  top: 90px;
  font-size: 20px;
}
.g2-text{
  background-color: #828c6d;
  width: 100%;
  position: relative;
  top: -650px;
  text-align: center;
  height: 250px;
}
.g2-text h3{
  position: relative;
  top: 70px;
  font-size: 25px;
}
.g2-text p{
  position: relative;
  top: 90px;
  font-size: 20px;
}
.end{
  position: relative;
  bottom: 180px;
}
.end2{
  position: relative;
  bottom: 20px;
}
/* contact */
.h-text img{
  width: 90%;
  height: 380px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right:20px ;
}
.i-text{
  margin-left: 20px;
  margin-right: 20px;
}
.special-3{
  display: none;
}
.i-text h4{
  padding: 30px 0px;
}
.i-text p{
  padding: 10px 0px;
  line-height: 25px;
  font-weight: 300;
  color: grey;
}
.i-text p a{
  font-size: 14px;
  color: rgb(175, 16, 16);
}
.i-text ul{
  font-size: 15px;
  color: grey;
  line-height: 20px;
  
}
.end3{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}
/* main project */
.j-text img{
width: 100%;
margin-top: 20px;
height: 400px;
}
.j-text h3{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-family: "popins", sans-serif;
  font-weight:300 ;
  border: 2px solid grey;
  margin-left: 30px;
  margin-right: 30px;
}



  






/* gallery */
.k-text h1{
font-weight: 500;
text-align: center;
margin-top: 40px;
}
.k-text p{
  margin: 20px;
  font-weight: 200;
  font-size: 15px;
  line-height: 26px;
}
.over{
  height: 500px;
}
/* drone dhots */
.l-text h1{
  margin: 30px 20px ;
  font-size: 26px;
  font-weight: bold;

  color: grey;
  }

  .shots video{
    height: 40vh;
    object-fit: cover;
    object-position: center;
    width: 300px;
    border-radius: 20px;
margin-left:40px ;

  }
}

@media(min-width:768px){
     .close{
      position: relative;
      left: 720px;
      display: none;
   
    } 
    .shots video{
      border-radius: 20px;
    }
    .over-j{
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
    }
    .j-text{
      padding: 10px;
    }
    .overshots{
      display: flex;
      flex-wrap: wrap;
    }
}

@media(min-width:780px){
    .wrapper{
        max-width: 1500px;
    
    margin-left: 40px;
    }
 
    
    .b-text p{
      position: absolute;
      top: 90px;
      right: 960px;
      width: 10%;
      
      /* right: 1090px; */
      font-weight: 300;
      
    }
    .special-3{
      display: none;
    }
    
    .hamburger{
        display: none;
    }
    .close{
        display: none;
    }
    
    .minidiv{
      width: 60%;
    }
    /* .wrapper{
      width: 100%;
    }  */
    .minidiv ul{
      margin-left: 10px;
      font-size: 17px;
      /* width: 90%; */
      justify-content: space-around;
    }
    .minidiv ul li{
      font-size: 5px;
      font-family: 'Bona Nova', serif;
      /* width: 40%; */
    }
    .wrapper h1{
      position: relative;
      left: -10px;
      font-size: 30px;
    }
    
    
    footer{
        display: flex;
        justify-content: space-between;
        width: 95%;
        position: relative;
        top: 700px;
       
    }
    footer h3{
font-weight: 600;
padding-bottom: 30px;
padding-left: 40px;
padding-top: 80px;
    }
    .carousel h4 {
      color:rgb(0, 0, 0);
      font-size: 32px;
      font-weight: bold;
      
      text-align: center;
      padding-top: 40px;
    }
    .cards {
        background-color:#e2e5da;
       
       margin-right: 0px;
       max-width: 300px;
       position: relative;
      top: -100px;
       bottom: 100px;
     padding-top: 110px;
     padding-right: 132px;
        margin-top: 50px;
        text-align: center;
        margin-left: 0px;
        /* margin-bottom: 30px; */
        padding-bottom: 50px;
      }
      
      .carousel .cards img{
        width: 80% !important;
        margin-left: 120px;
      }
    .cards1 {
        background-color:#e2e5da;
       
       margin-right: 0px;
       max-width: 300px;
       position: relative;
      top: -17px;
       bottom: 100px;
     padding-top: 110px;
     padding-right: 132px;
        margin-top: 50px;
        text-align: center;
        margin-left: 0px;
        /* margin-bottom: 30px; */
        padding-bottom: 50px;
      }
    .cards2 {
        background-color:#e2e5da;
       
       margin-right: 50px;
       max-width: 300px;
       position: relative;
      top: 60px;
       bottom: 100px;
     padding-top: 110px;
     padding-right: 132px;
        margin-top: 50px;
        text-align: center;
        margin-left: 0px;
        /* margin-bottom: 30px; */
        padding-bottom: 90px;
      }
      .carousel{
        position: relative;
        top: -150px;
      }
      
      .carousel2 .cards1 img{
        width: 80% !important;
        margin-left: 120px;
      }
      .carousel3 .cards2 img{
        width: 80% !important;
        margin-left: 120px;
      }

      
      .owl-dot {
        width: 25px !important;
        height: 9px !important;
        background-color: rgb(22, 22, 22) !important;
        margin-right: 10px;
        border-radius: 10%;
        transition: 0.5s ease;
        visibility: hidden;
      
      }
      .owl-dots {
        text-align: center;
        padding-bottom: 20px;
        position: relative;
        top: -120px;
        right: 350px;
        margin-bottom: 10px;

      }
      body{
        /* border: 3px solid lightgrey; */
        margin: 10px;
        border-radius: 20px;
        /* height: 2000px; */
      }
      .c-text p{
        position: absolute;
        top: 140px;
        left: 20px;
        line-height: 25px;
        padding-left: 30px;
        margin-bottom: 20px;
        font-size: 17px;
      }
      .gallery{
        margin-top: 40px;
      }
      .special img{
        display: none;

      }
      .h-stretch{
        grid-column: span 2;
        grid-row: span 3; 
      }
      .minidiv ul li{
        font-size: 19px;
      }
      .d-text h1{
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
      }
      .e-text h1{
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
      }
      .location h1{
        text-align: center;
        padding-top: 40px;
        font-size: 53px;
        font-weight: 400;
      }
      .location img{
        width: 30%;
        margin-top: 20px;
        margin-left: 70px;
      }
     
      .avatar{
        width: 20%;
        height: 110px;
        position: relative;
        top: -70px;
        left: 300px;
      }
      .f-text p{
        position: relative;
        top: -400px;
        left: 440px;
        font-size: 20px;
        padding: 20px;
        width: 46%;
      }
      .g-text{
        background-color: #828c6d;
        max-width: 430px;
        text-align: center;
        
        position: relative;
        top: -710px;
       height: 400px;
       left: 437px;
        z-index: 10;
      }
      .g-text h3{
        font-size: 40px;
        position: relative;
        top: 90px;
        font-weight: 500;
      }
      .g-text p{
        font-size: 20px;
        position: relative;
        top: 120px;
      }
      
      .g1-text{
        background-color: #948065;
        max-width: 430px;
        text-align: center;
        margin-top: 20px;
        position: relative;
        top: -1200px;
       height: 450px;
       left: 437px;
        z-index: 10;
      }
      .g2-text{
        background-color: #828c6d;
        max-width: 430px;
        text-align: center;
        margin-top: 20px;
        position: relative;
        top: -1730px;
       height: 450px;
       left: 437px;
        z-index: 10;
      }
      .g1-text h3{
        font-size: 40px;
        position: relative;
        top: 90px;
        font-weight: 500;
      }
      .g1-text p{
        font-size: 20px;
        position: relative;
        top: 120px;
      }
      .g2-text h3{
        font-size: 40px;
        position: relative;
        top: 90px;
        font-weight: 500;
      }
      .g2-text p{
        font-size: 20px;
        position: relative;
        top: 120px;
      }
      .carousel2{
        position:relative;
        top: -676px;
      }
      .carousel3{
        position:relative;
        top: -1220px;
      }
      .end{
        position: relative;
        bottom: 1710px;
      }
      .end{
        position: relative;
        bottom: 1710px;
      }
      .end2{
        position: relative;
        bottom: 50px;
        top: 20px;
      }
      
     
      /* contact */
      .h-text img{
        width: 50%;
        height: 580px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right:20px ;
      }
      .i-text{
        margin-left: 20px;
        margin-right: 20px;
        max-width: 300px;
        position: relative;
        left: 500px;
        bottom: 600px;
      }
      .i-text h4{
        padding: 30px 0px;
        font-size: 20px;
      }
      .i-text p{
        padding: 10px 0px;
        line-height: 25px;
        font-weight: 300;
        color: grey;
      }
      .i-text p a{
        font-size: 14px;
        color: rgb(175, 16, 16);
      }
      .i-text ul{
        font-size: 15px;
        color: grey;
        line-height: 20px;
        
      }
      .end3{
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 620px;
        margin-left: 40px;
        margin-right: 500px;
      }

/* main project */
.j-text img{
  width: 100%;
  margin-top: 20px;
  /* margin-left: 20px; */
  /* padding-right: 30px; */
height: 500px;

  }
  .over-j{
    display: flex;
  
    flex-wrap: wrap;
  }
  .j-text{
    margin: 10px;

  }
  .j-text h3{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    
    font-family: "popins", sans-serif;
    font-weight:300 ;
    border: 2px solid grey;
  
  }

/* gallery */
.k-text h1{
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}
.k-text p{
  margin: 30px;
  line-height: 26px;
}

/* droneshots */
.l-text h1{
  margin: 30px 30px ;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  }

  .shots video{
    height: 40vh;
    object-fit: cover;
    object-position: center;
    width: 350px;
    margin: 20px;
  }
  .overshots{
    display: flex;
    flex-wrap: wrap;
  }
}
      
    


@media(min-width:1064px){
  footer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: relative;
    top: -70px;
   
}
.minidiv{
  width: 70%;
}
.wrapper{
  width: 100%;
}
.minidiv ul{
  margin-left: 10px;
  font-size: 17px;
  width: 90%;
}
.minidiv ul li{
  font-size: 20px;
  font-family: 'Bona Nova', serif;
  /* width: 70%; */
}
.wrapper h1{
  font-size: 76px;
  font-weight: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right:10px;
  font-size: 25px;
  
}
body{
  /* border: 3px solid lightgrey; */
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 20px;


}

.gallery{
  margin-left: 20px;
  margin-top: 20px;
}
.special img{
  display: block;
}
.wrapper p{
  position: relative;
  top: 90px;
  right: 210px;
  font-weight: 300;
  
}
.special-2{
  display: none;
}
.b-text p{
  position: absolute;
  top: 90px;
  right: 1090px;
  width: 10%;
  
  /* right: 1090px; */
  font-weight: 300;
  
}
/*  */
.cards {
  background-color:#e2e5da;
 
 margin-right: 50px;
 max-width: 400px;
 position: relative;
top: -100px;
 bottom: 100px;
padding-top: 110px;
padding-right: 132px;
  margin-top: 50px;
  text-align: center;
  margin-left: 30px;
  /* margin-bottom: 30px; */
  padding-bottom: 50px;
}

.carousel .cards img{
  width: 60% !important;
  margin-left: 120px;
}
.cards1 {
  background-color:#e2e5da;
 
 margin-right: 50px;
 max-width: 400px;
 position: relative;
top: -100px;
 bottom: 100px;
padding-top: 110px;
padding-right: 132px;
  margin-top: 50px;
  text-align: center;
  margin-left: 30px;
  /* margin-bottom: 30px; */
  padding-bottom: 50px;
}
.cards2 {
  background-color:#e2e5da;
 
 margin-right: 50px;
 max-width: 400px;
 position: relative;
top: -100px;
 bottom: 100px;
padding-top: 110px;
padding-right: 132px;
  margin-top: 50px;
  text-align: center;
  margin-left: 30px;
  /* margin-bottom: 30px; */
  padding-bottom: 50px;
}
.carousel{
  position: relative;
  top: -150px;
}

.carousel2 .cards1 img{
  width: 60% !important;
  margin-left: 120px;
}
.carousel3 .cards2 img{
  width: 60% !important;
  margin-left: 120px;
}


.owl-dot {
  width: 25px !important;
  height: 9px !important;
  background-color: rgb(22, 22, 22) !important;
  margin-right: 10px;
  border-radius: 10%;
  transition: 0.5s ease;
visibility: visible;
}
.owl-dots {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  top: -120px;
  right: 350px;
  margin-bottom: 10px;

}
.g-text{
  background-color: #828c6d;
  max-width: 630px;
  text-align: center;
  
  position: relative;
  top: -700px;
 height: 400px;
  left: 560px;
  z-index: 10;
}
.g-text h3{
  font-size: 40px;
  position: relative;
  top: 90px;
  font-weight: 500;
}
.g-text p{
  font-size: 20px;
  position: relative;
  top: 120px;
}

.g1-text{
  background-color: #948065;
  max-width: 630px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: -1250px;
 height: 400px;
  left: 560px;
  z-index: 10;
}
.g2-text{
  background-color: #828c6d;
  max-width: 630px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: -1790px;
 height: 400px;
  left: 560px;
  z-index: 10;
}
.g1-text h3{
  font-size: 40px;
  position: relative;
  top: 90px;
  font-weight: 500;
}
.g1-text p{
  font-size: 20px;
  position: relative;
  top: 120px;
}
.g2-text h3{
  font-size: 40px;
  position: relative;
  top: 90px;
  font-weight: 500;
}
.g2-text p{
  font-size: 20px;
  position: relative;
  top: 120px;
}
.carousel2{
  position:relative;
  top: -676px;
}
.carousel3{
  position:relative;
  top: -1220px;
}
.location h1{
  text-align: center;
  padding-top: 40px;
  font-size: 53px;
  font-weight: 400;
}
.location img{
  width: 30%;
  margin-top: 20px;
  margin-left: 70px;
}
.f-text p{
  position: relative;
  top: -600px;
  left: 470px;
  font-size: 20px;
  padding: 20px;
  width: 46%;
}
.end{
  position: relative;
  bottom: 1750px;
}
.end2{
  position: relative;
  bottom: 10px;
  top: 20px;
}
.avatar{
  width: 20%;
  height: 210px;
  position: relative;
  top: -70px;
  left: 300px;
}
/* contact */
.h-text img{
  width: 40%;
  height: 680px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right:20px ;
}
.i-text{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  position: relative;
  left: 570px;
  bottom: 700px;
}
.i-text h4{
  padding: 30px 0px;
}
.i-text p{
  padding: 10px 0px;
  line-height: 25px;
  font-weight: 300;
  color: grey;
}
.i-text p a{
  font-size: 14px;
  color: rgb(175, 16, 16);
}
.i-text ul{
  font-size: 15px;
  color: grey;
  line-height: 20px;
  
}
.end3{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 550px;
  margin-left: 40px;
  margin-right: 40px;
}

/* main projects */
.j-text img{
  width: 100%;
  margin-top: 20px;
  /* margin-left: 20px; */
  padding-right: 30px;

object-position: center;
position: relative;

background-size: cover;
background-repeat: no-repeat;

  }
  .over-j{
    display: flex;
    flex-wrap: wrap;
  }
  .j-text{
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
  }
  .j-text h3{
  
    border: 2px solid grey;
    margin-top: 10px;
    font-size: 30px;
    font-family: "popins", sans-serif;
    font-weight:300 ;
  
  }

/* gallery */


.k-text h1{
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}
.k-text p{
  width: 70%;
  position: relative;
  left: 180px;
  margin-top: 30px;
  line-height: 26px;
}

/* drone shots */

.l-text h1{
margin: 30px 30px ;
font-size: 40px;
font-weight: bold;
color: grey;
}
.shots video{
  height: 70vh;
  object-fit: cover;
  object-position: center;
  width: 500px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 80px;
}
.overshots{
  display: flex;
  flex-wrap: wrap;
}

/* booking */
.m-text img{
  width: 40%;
}
.m-text{
 max-width: 300px;
  border: 3px solid;
  margin-right: 420px;
}

.overshots-2{
  display: flex;
  flex-wrap: wrap;
}
}
/* 800px upward */
@media(min-width:800px){
  .b-text p{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 100%;
    left: 45px;
    /* right: 1090px; */
    font-weight: 300;
    
  }

  .c-text p{
    position: absolute;
    top: 130px;
    left: 20px;
    line-height: 25px;
    padding-left: 25px;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .wrapper h1{
    font-size: 29px;
    font-weight: 600;
  }
  .minidiv {
    width: 100%;
    margin-left: 40px;

  }
 
}